<!-- User info -->
<div class="row align-items-center">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <!-- Bg -->
    <div class="pt-16 rounded-top-md" style="
    background: url(<%= image_url('profile-bg.jpg') %>) no-repeat;
      background-size: cover;
    "></div>
    <div class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom-md shadow-sm">
      <div class="d-flex align-items-center">
        <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
          <% if params[:user_id] == nil%>
            <%= image_tag current_user.decorate.avatar, class: 'avatar-xl rounded-circle border border-4 border-white' %>
          <% else %>
            <% @user = User.find(params[:user_id]) %>
            <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle border border-4 border-white' %>
          <% end %>
        </div>
        <div class="lh-1">
          <h2 class="mb-0">
            <% if params[:user_id] == nil%>
              <%= current_user.name %>
            <% else %>
              <% @user = User.find(params[:user_id]) %>
              <%= @user.name%>
            <% end %>
          </h2>
          <% if params[:user_id] == nil%>
            <p class="mb-0 d-block"><%= current_user.email %></p>
          <% else %>
            <% @user = User.find(params[:user_id]) %>
            <p class="mb-0 d-block"><%= @user.email %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
